* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
i {
  cursor: pointer;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --bgc: #fff;
  --headerText: #212121;
  --inputbgc: #f1f4f6;
  --color: #666;
  --btnColor: #ff6f61;
}
body {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header Section Start */
/* Header Section Start */
/* Header Section Start */
/* Header Section Start */
/* Header Section Start */

/* Upper Header */
/* Upper Header */
/* Upper Header */
.upperHeaderSection {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  width: 120px;
}
.upperHeaderUtilityList {
  display: flex;
  list-style: none;
  gap: 25px;
}
.upperHeaderUtilityList li a {
  text-decoration: none;
  color: var(--headerText);
  font-size: 14px;
  font-weight: 600;
}
.upperHeaderOfferUtility {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 13px;
  color: var(--color);
  margin-left: 5px;
}
.whiteLine {
  width: 1px;
  height: 15px;
  margin: 0px 5px;
  border: 1px solid var(--color);
}
.offers {
  margin-left: 20px;
}
.cardsTab i {
  margin-left: 20px;
}
.needHelp {
  margin-left: 25px;
}

/* Middle Header */
/* Middle Header */
/* Middle Header */
.middleHeaderSearchBox {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 80px;
}
.locationBox {
  display: flex;
  align-items: center;
  background-color: var(--inputbgc);
  width: 250px;
  height: 35px;
  padding: 5px;
}
.locationBox input {
  border: none;
  background-color: var(--inputbgc);
  font-weight: 900;
  color: black;
  margin-left: 10px;
  height: 35px;
}
input {
  outline: none;
}
.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--inputbgc);
  width: 550px;
  height: 35px;
  padding: 5px 10px;
}
.searchBox input {
  border: none;
  background-color: var(--inputbgc);
  color: black;
  height: 35px;
  width: 400px;
}
.latestOffers {
  display: flex;
  align-items: center;
  gap: 15px;
}
.latestOffers img {
  position: relative;
  left: 15px;
}
.offerHeading {
  color: var(--color);
  font-size: 12px;
  font-weight: 600;
}
.quickOrderBtn {
  background-color: var(--btnColor);
  border-radius: 6px;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
/* Lower Header */
/* Lower Header */
/* Lower Header */
.lowerHeaderSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}
.lowerHeaderBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lowerHeaderBoxHeading {
  font-size: 13px;
  font-weight: 500;
  color: var(--color);
}

/* Banner Section */
/* Banner Section */
/* Banner Section */
/* Banner Section */
/* Banner Section */
.bannerSection {
  width: 100%;
  display: flex;
  align-items: center;
}
.firstBannerContainer {
  width: 70%;
}
.secondBannerContainer {
  width: 30%;
}
.secondBannerContainer img {
  width: 400px;
}
/* Banner ParaGraph */
main {
  background-color: var(--inputbgc);
}
.bannerPara {
  width: 100%;
  height: 5rem;
  background-color: var(--bgc);
  box-shadow: 0px 0px 10px grey;
  font-size: 20px;
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Next Banner */
/* Next Banner */
/* Next Banner */
.nextBanner {
  text-align: center;
  margin-top: 15px;
}
.nextBanner img {
  width: 98vw;
}

/* Feature Section Start From Here or PAge 02 */
/* Feature Section Start From Here or PAge 02 */
/* Feature Section Start From Here or PAge 02 */
/* Feature Section Start From Here or PAge 02 */
/* Feature Section Start From Here or PAge 02 */
.bannerheading {
  font-size: 19px;
  word-spacing: 0px;
  color: var(--headerText);
  margin: 35px 0px 20px 20px;
}
.cardsArea {
  background-color: var(--bgc);
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.allBox {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  flex-direction: column;
  gap: 15px;
  width: 14%;
  height: 13rem;
  border-radius: 25px;
}
.allBox img {
  width: 120px;
}
.allBox p {
  font-size: 13px;
  color: var(--headerText);
  text-align: center;
}
#firstBox:hover,
#secondBox:hover,
#thirdBox:hover,
#fourthBox:hover,
#fifthBox:hover,
#sixthBox:hover,
#seventhBox:hover {
  box-shadow: 0px 0px 10px grey;
  width: 14%;
  height: 13rem;
  border-radius: 25px;
  cursor: pointer;
}

/* Long Banner Section Rectangle  */
/* Long Banner Section Rectangle  */
/* Long Banner Section Rectangle  */
/* Long Banner Section Rectangle  */
/* Long Banner Section Rectangle  */

.cardArea {
  background-color: var(--bgc);
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.boxAreas {
  width: 23%;
  height: 8rem;
  border-radius: 25px;
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding-left: 15px;
}
.boxAreas:hover {
  box-shadow: 0px 0px 10px grey;
  width: 23%;
  height: 8rem;
  border-radius: 25px;
}
.upperBoxDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.upperBoxDetails p {
  font-size: 14px;
  font-weight: 700;
  color: var(--headerText);
}
.upperBoxDetails div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #ffe3c2;
  width: 80px;
  height: 30px;
}
.upperBoxDetails span {
  font-size: 14px;
  font-weight: 600;
  color: var(--color);
}
.lowerBoxDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
}
.cross {
  font-size: 13px;
  color: var(--color);
}
.offerBox {
  border: 1px dashed #1aab2a;
  background-color: rgba(26, 171, 42, 0.05);
  padding: 3px;
  font-size: 12px;
  color: #1aab2a;
  margin-left: 10px;
}

/* Product Section Design of Long Rectangle Banner */
/* Product Section Design of Long Rectangle Banner */
/* Product Section Design of Long Rectangle Banner */
/* Product Section Design of Long Rectangle Banner */
/* Product Section Design of Long Rectangle Banner */
.productsCardsArea01 {
  background-color: var(--bgc);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
}
.productsAllBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 20px;
  transition: 0.5s ease-in-out;
  flex-direction: column;
  width: 14%;
  height: 100%;
  border-radius: 25px;
}
.productsAllBox:hover {
  width: 14%;
  height: 25rem;
  border-radius: 25px;
  box-shadow: 0px 0px 10px grey;
}
.productsAllBox img {
  width: 115px;
  height: 150px;
}
.lowerSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productHeading {
  font-size: 13px;
  color: var(--headerText);
  letter-spacing: 0.7px;
  line-height: 20px;
  font-weight: 600;
}
.deleiveryDetails {
  font-size: 14px;
  color: var(--color);
  font-weight: 600;
}
.productPrice {
  font-size: 16px;
  color: var(--headerText);
  font-weight: 600;
  line-height: 25px;
}
.productOffer {
  font-size: 12px;
  color: #1aab2a;
}
.space {
  width: 100%;
  height: 3rem;
}
/* Footer Section Start From Here*/
/* Footer Section Start From Here*/
/* Footer Section Start From Here*/
/* Footer Section Start From Here*/
/* Footer Section Start From Here*/

.footerDetailsArea {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 18px;
  background-color: var(--bgc);
  width: 100%;
  height: 90rem;
}
.mainDetailsHeading {
  font-size: 18px;
  font-weight: 600;
  color: var(--headerText);
}
.subHeading {
  font-size: 15px;
  font-weight: 600;
  color: var(--headerText);
}
.subHeadingPara {
  font-size: 16px;
  color: var(--color);
  line-height: 25px;
}
/* Footer Spec Section */
/* Footer Spec Section */
.footerSpecsSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 25px 0px;
}
.specsHeading {
  text-align: center;
  font-size: 25px;
  color: var(--headerText);
}
.specsSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.specsDetails {
  font-size: 30px;
  color: var(--headerText);
  letter-spacing: 3px;
  line-height: 25px;
  text-align: center;
}
.specsDetails span {
  font-size: 14px;
  letter-spacing: 0px;
  color: var(--color);
}
